Repository hyperledger/quilt, pull requests merged in 2019-09, with the labels that each got.

#253 Add Link modules (STREAM-PR3)
  link-parent/link-core/pom.xml
  link-parent/link-core/src/main/java/org/interledger/link/AbstractLink.java
  link-parent/link-core/src/main/java/org/interledger/link/AbstractStatefulLink.java
  link-parent/link-core/src/main/java/org/interledger/link/Connectable.java
  link-parent/link-core/src/main/java/org/interledger/link/Ids.java
  link-parent/link-core/src/main/java/org/interledger/link/Link.java
  link-parent/link-core/src/main/java/org/interledger/link/LinkFactory.java
  link-parent/link-core/src/main/java/org/interledger/link/LinkFactoryProvider.java
  link-parent/link-core/src/main/java/org/interledger/link/LinkHandler.java
  link-parent/link-core/src/main/java/org/interledger/link/LinkSender.java
  link-parent/link-core/src/main/java/org/interledger/link/LinkSettings.java
  link-parent/link-core/src/main/java/org/interledger/link/LoopbackLink.java
  link-parent/link-core/src/main/java/org/interledger/link/LoopbackLinkFactory.java
  link-parent/link-core/src/main/java/org/interledger/link/PacketRejector.java
  link-parent/link-core/src/main/java/org/interledger/link/PingLoopbackLink.java
  link-parent/link-core/src/main/java/org/interledger/link/PingLoopbackLinkFactory.java
  link-parent/link-core/src/main/java/org/interledger/link/StatefulLink.java
  link-parent/link-core/src/main/java/org/interledger/link/events/AbstractLinkConnectionEventListener.java
  link-parent/link-core/src/main/java/org/interledger/link/events/LinkConnectedEvent.java
  link-parent/link-core/src/main/java/org/interledger/link/events/LinkConnectionEvent.java
  link-parent/link-core/src/main/java/org/interledger/link/events/LinkConnectionEventEmitter.java
  link-parent/link-core/src/main/java/org/interledger/link/events/LinkConnectionEventListener.java
  link-parent/link-core/src/main/java/org/interledger/link/events/LinkDisconnectedEvent.java
  link-parent/link-core/src/main/java/org/interledger/link/events/LinkEvent.java
  link-parent/link-core/src/main/java/org/interledger/link/exceptions/LinkException.java
  link-parent/link-core/src/main/java/org/interledger/link/exceptions/LinkHandlerAlreadyRegisteredException.java
  link-parent/link-core/src/main/java/org/interledger/link/exceptions/LinkNotConnectedException.java
  link-parent/link-core/src/main/java/org/interledger/link/exceptions/LinkNotFoundException.java
  link-parent/link-core/src/test/java/org/interledger/link/AbstractLinkTest.java
  link-parent/link-core/src/test/java/org/interledger/link/AbstractStatefulLinkTest.java
  link-parent/link-core/src/test/java/org/interledger/link/LinkFactoryProviderTest.java
  link-parent/link-core/src/test/java/org/interledger/link/LinkSettingsTest.java
  link-parent/link-core/src/test/java/org/interledger/link/LoopbackLinkFactoryTest.java
  link-parent/link-core/src/test/java/org/interledger/link/LoopbackLinkTest.java
  link-parent/link-core/src/test/java/org/interledger/link/PacketRejectorTest.java
  link-parent/link-core/src/test/java/org/interledger/link/PingLoopbackLinkFactoryTest.java
  link-parent/link-core/src/test/java/org/interledger/link/PingLoopbackLinkTest.java
  link-parent/link-ilp-over-http/pom.xml
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpConstants.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpLink.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpLinkFactory.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpLinkSettings.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IncomingLinkSettings.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/OutgoingLinkSettings.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/SharedSecretTokenSettings.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/auth/BearerTokenSupplier.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/auth/Decryptor.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/auth/JwtHs256BearerTokenSupplier.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/auth/SharedSecretBytesSupplier.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/auth/SimpleBearerTokenSupplier.java
  link-parent/link-ilp-over-http/src/test/java/org/interledger/link/http/AbstractHttpLinkSettingsTest.java
  link-parent/link-ilp-over-http/src/test/java/org/interledger/link/http/IlpOverIlpOverHttpLinkSettingsTest.java
  link-parent/link-ilp-over-http/src/test/java/org/interledger/link/http/IncomingIlpOverIlpOverHttpLinkSettingsSettingsTest.java
  link-parent/link-ilp-over-http/src/test/java/org/interledger/link/http/OutgoingIlpOverIlpOverHttpLinkSettingsSettingsTest.java
  link-parent/pom.xml
  pom.xml
Labels: STREAM, v1.0

#255 Add STREAM Client (STREAM-PR4)
  .circleci/config.yml
  codecs-parent/codecs-stream/pom.xml
  pom.xml
  stream-parent/pom.xml
  stream-parent/stream-client/pom.xml
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/AimdCongestionController.java
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/CongestionController.java
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/SimpleStreamSender.java
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/StreamSender.java
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/StreamSenderException.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/AimdCongestionControllerTest.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/InterledgerRustNodeClient.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderIT.java
  stream-parent/stream-core/src/main/java/org/interledger/stream/StreamConnectionDetails.java
Labels: STREAM, v1.0

#269 Df/stream pr5 simulated network harness (part deux)
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/InterledgerRustNodeClient.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderIT.java
  stream-parent/stream-core/pom.xml
  stream-parent/stream-core/src/main/java/org/interledger/stream/crypto/JavaxStreamEncryptionService.java
  stream-parent/stream-receiver/src/test/java/org/interledger/stream/receiver/SenderReceiverTest.java
Labels: STREAM, v1.0

#274 Df/259 remove optional operator2
  README.md
  btp-core/pom.xml
  codecs-parent/codecs-btp/pom.xml
  codecs-parent/codecs-framework/pom.xml
  codecs-parent/codecs-ildcp/pom.xml
  codecs-parent/codecs-ilp/pom.xml
  codecs-parent/codecs-stream/pom.xml
  codecs-parent/pom.xml
  ildcp-core/pom.xml
  ilp-core/pom.xml
  jackson-datatypes/README.md
  jackson-datatypes/pom.xml
  link-parent/link-core/pom.xml
  link-parent/link-core/src/main/java/org/interledger/link/AbstractLink.java
  link-parent/link-core/src/main/java/org/interledger/link/AbstractStatefulLink.java
  link-parent/link-core/src/main/java/org/interledger/link/Link.java
  link-parent/link-core/src/main/java/org/interledger/link/LinkFactory.java
  link-parent/link-core/src/main/java/org/interledger/link/LoopbackLink.java
  link-parent/link-core/src/main/java/org/interledger/link/LoopbackLinkFactory.java
  link-parent/link-core/src/main/java/org/interledger/link/PacketRejector.java
  link-parent/link-core/src/main/java/org/interledger/link/PingLoopbackLink.java
  link-parent/link-core/src/main/java/org/interledger/link/PingLoopbackLinkFactory.java
  link-parent/link-core/src/test/java/org/interledger/link/AbstractLinkTest.java
  link-parent/link-core/src/test/java/org/interledger/link/AbstractStatefulLinkTest.java
  link-parent/link-core/src/test/java/org/interledger/link/LoopbackLinkFactoryTest.java
  link-parent/link-core/src/test/java/org/interledger/link/LoopbackLinkTest.java
  link-parent/link-core/src/test/java/org/interledger/link/PacketRejectorTest.java
  link-parent/link-core/src/test/java/org/interledger/link/PingLoopbackLinkFactoryTest.java
  link-parent/link-core/src/test/java/org/interledger/link/PingLoopbackLinkTest.java
  link-parent/link-ilp-over-http/pom.xml
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpLink.java
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpLinkFactory.java
  link-parent/link-ilp-over-http/src/test/java/org/interledger/link/http/IlpOverHttpLinkTest.java
  link-parent/pom.xml
  pom.xml
  stream-parent/pom.xml
  stream-parent/stream-client/pom.xml
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderIT.java
  stream-parent/stream-core/pom.xml
  stream-parent/stream-receiver/pom.xml
  stream-parent/stream-receiver/src/test/java/org/interledger/stream/receiver/testutils/SimulatedILPv4Network.java
Labels: enhancement, v1.0

#275 add unit tests for f08 packet; fixes #266
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/AimdCongestionControllerTest.java
Labels: STREAM, enhancement, v1.0

#276 Fixes #236 (Max Sequence Number)
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/SimpleStreamSender.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SendMoneyAggregatorTest.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderTests.java
  stream-parent/stream-core/src/main/java/org/interledger/stream/StreamPacket.java
  stream-parent/stream-core/src/main/java/org/interledger/stream/StreamUtils.java
  stream-parent/stream-core/src/test/java/org/interledger/stream/StreamPacketTest.java
  stream-parent/stream-receiver/src/main/java/org/interledger/stream/receiver/StatelessStreamReceiver.java
  stream-parent/stream-receiver/src/test/java/org/interledger/stream/receiver/StatelessStreamReceiverTest.java
Labels: STREAM, enhancement, v1.0
