Repository hyperledger/quilt, pull requests merged in 2019-12, with the labels that each got.

#388 Update README for latest release
  README.md
Labels: v1.0, v1.0.2

#385 Df/example packet emitters
  examples-parent/ilp-emitters/pom.xml
  examples-parent/ilp-emitters/src/main/java/org/interledger/examples/packets/IlpOverHttpJwtEmitter.java
  examples-parent/ilp-emitters/src/main/java/org/interledger/examples/packets/IlpPacketEmitter.java
  examples-parent/pom.xml
Labels: enhancement, ilp-core, stream

#389 Refactor SPSP client to its own client not coupled to Rust client
  examples-parent/send-money/README.md
  examples-parent/send-money/src/main/java/org/interledger/examples/SendMoneyExample.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/SimpleSpspClient.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/SpspClient.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/SpspClientDefaults.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/rust/InterledgerRustNodeClient.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/rust/RustNodeAccount.java
  spsp-parent/spsp-client/src/test/java/org/interledger/spsp/client/SimpleSpspClientTest.java
  spsp-parent/spsp-client/src/test/java/org/interledger/spsp/client/rust/InterledgerRustNodeClientTest.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderIT.java
Labels: v1.0, v1.0.3

#391 stop using deprecated interledgerrs/node docker image
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderIT.java
Labels: stream, v1.0, v1.0.3

#397 Fixes rust auth handler for ILP-over-HTTP
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/SimpleSpspClient.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/rust/InterledgerRustNodeClient.java
  spsp-parent/spsp-client/src/test/java/org/interledger/spsp/client/SimpleSpspClientTest.java
  spsp-parent/spsp-core/pom.xml
  spsp-parent/spsp-core/src/main/java/org/interledger/spsp/PaymentPointerResolver.java
  spsp-parent/spsp-core/src/test/java/org/interledger/spsp/PaymentPointerResolverTest.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SimpleStreamSenderIT.java
Labels: spsp, stream, test coverage, v1.0, v1.0.3

#398 Is/370 only fail on 4xx
  link-parent/link-ilp-over-http/src/main/java/org/interledger/link/http/IlpOverHttpLink.java
  link-parent/link-ilp-over-http/src/test/java/org/interledger/link/http/IlpOverHttpLinkTest.java
  stream-parent/stream-client/src/main/java/org/interledger/stream/sender/SimpleStreamSender.java
  stream-parent/stream-client/src/test/java/org/interledger/stream/sender/SendMoneyAggregatorTest.java
Labels: bug, stream
