Repository hyperledger/quilt, pull requests merged in 2020-03, with the labels that each got.

#438 Misc cleanup
  .circleci/config.yml
  jackson-datatypes/src/main/java/org/interledger/quilt/jackson/InterledgerDeserializers.java
  jackson-datatypes/src/main/java/org/interledger/quilt/jackson/InterledgerSerializers.java
  jackson-datatypes/src/main/java/org/interledger/quilt/jackson/link/LinkIdDeserializer.java
  jackson-datatypes/src/main/java/org/interledger/quilt/jackson/link/LinkTypeDeserializer.java
  jackson-datatypes/src/test/java/org/interledger/quilt/jackson/InterledgerModuleTest.java
  jackson-datatypes/src/test/java/org/interledger/quilt/jackson/spsp/SharedSecretDeserializerTest.java
  jackson-datatypes/src/test/java/org/interledger/quilt/jackson/spsp/SharedSecretModuleTest.java
  jackson-datatypes/src/test/java/org/interledger/quilt/jackson/spsp/SharedSecretSerializerTest.java
Labels: bug, jackson

#437 Make `WELL_KNOWN` constant public
  spsp-parent/spsp-core/src/main/java/org/interledger/spsp/PaymentPointer.java
  spsp-parent/spsp-core/src/test/java/org/interledger/spsp/PaymentPointerTest.java
Labels: enhancement, test coverage

#439 Cleanup SPSP Headers
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/SimpleSpspClient.java
  spsp-parent/spsp-client/src/main/java/org/interledger/spsp/client/SpspClient.java
  spsp-parent/spsp-client/src/test/java/org/interledger/spsp/client/SimpleSpspClientTest.java
Labels: enhancement
